<div class="auth-main main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card ">
          <div class="card-body">
        
              <form [formGroup]="addForm">
                <div class="d-flex justify-content-between align-items-end mb-4">
                  <h3 class="mb-0" style="font-weight: 500;">Add Project</h3>
                </div>
                <div class="row">
                  
                  
                  <div class="col-md-6">

                     <app-input-box [id]="'projectName'" [type]="'text'" [formControlName]="'projectName'" [placeholder]="'Enter Project Name'" [title]="'Project Name'"></app-input-box>
                     <!-- class="form-control" -->
                     @if (addForm.get('projectName').hasError('required') &&
                     addForm.get('projectName').touched) {
                     <span class="text-red-700 text-sm ml-1">Please Enter Project Name.</span>
                     }
                  </div>
                   <div class="col-md-6">
                    <app-input-box [id]="'projectTech'" [type]="'text'" [formControlName]="'projectTech'" [placeholder]="'Enter Tech Name'" [title]="'Technology'"></app-input-box>
                     @if (addForm.get('projectTech').hasError('required') &&
                     addForm.get('projectTech').touched) {
                     <span class="text-red-700 text-sm ml-2">Please Enter Technology Name.</span>
                     }

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                  <app-input-box [id]="'projectDesc'" [type]="'text'" [formControlName]="'projectDesc'" [placeholder]="'Enter Description'" [title]="'Description'"></app-input-box>
                  @if (addForm.get('projectDesc').hasError('required') &&
                  addForm.get('projectDesc').touched) {
                  <span class="text-red-700 text-sm ml-2">Please enter Project Description.</span>
                  }
                  </div>

                  <div class="col-md-6">
                    <app-input-box [id]="'projectLead'" [type]="'text'" [formControlName]="'projectLead'" [placeholder]="'Project Lead Name'" [title]="'Project Lead'"></app-input-box>
                    @if (addForm.get('projectLead').hasError('required') &&
                    addForm.get('projectLead').touched) {
                    <span class="text-red-700 text-sm ml-2">Please enter Project Lead Name.</span>
                    }
                  
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <app-input-box [id]="'projectManager'" [type]="'text'" [formControlName]="'projectManager'" [placeholder]="'Enter Manager Name'" [title]="'Project Manager'"></app-input-box>
                    @if (addForm.get('projectManager').hasError('required') &&
                    addForm.get('projectManager').touched) {
                    <span class="text-red-700 text-sm ml-2">Please enter Project Manager Name.</span>
                    }
                    </div>
  
                    <div class="col-md-6">
                      <app-input-box [id]="'projectClient'" [type]="'text'" [formControlName]="'projectClient'" [placeholder]="'Project Client Name'" [title]="'Project Client'"></app-input-box>
                      @if (addForm.get('projectClient').hasError('required') &&
                      addForm.get('projectClient').touched) {
                      <span class="text-red-700 text-sm ml-2">Please enter Project Client Name.</span>
                      }
                    
                    </div>
                  </div>

                  <div class="row">  
                    <div class="col-md-6">
                        <app-select-dropdown [title]="'Management Tool'" [id]="'mngmtTool'" [formControlName]="'mngmtTool'" [valueArray]="mngmtOptions"> </app-select-dropdown>
                  <!-- @if (addForm.get('mngmtTool').invalid) {
                    <span>Choose please</span>
                    }  --></div>

                    <div class="col-md-6">
                        <app-input-box [id]="'projectUrl'" [type]="'text'" [formControlName]="'projectUrl'" [placeholder]="'Enter Managemnt URL'" [title]="'Managemnt Tool URL'"></app-input-box>
                        @if (addForm.get('projectUrl').hasError('required') &&
                        addForm.get('projectUrl').touched) {
                        <span class="text-red-700 text-sm ml-2">Please enter Managemnt Tool URL.</span>
                        }
                        </div>
      

                </div>

                <div class="row">  


                    <div class="col-md-6">
                        <app-select-dropdown [title]="'Repository Tool'" [id]="'repoTool'" [formControlName]="'repoTool'" [valueArray]="repoOptions"> </app-select-dropdown>
                    <!-- @if (addForm.get('mngmtTool').invalid) {
                      <span>Choose please</span>
                      }  --></div>
  
                      <div class="col-md-6">
                          <app-input-box [id]="'repoUrl'" [type]="'text'" [formControlName]="'repoUrl'" [placeholder]="'Enter Repository URL'" [title]="'Repository URL'"></app-input-box>
                          @if (addForm.get('repoUrl').hasError('required') &&
                          addForm.get('repoUrl').touched) {
                          <span class="text-red-700 text-sm ml-2">Please enter Repository URL.</span>
                          }
                          </div>
        
  
                  </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group mb-3">
                        <app-select-dropdown [title]="'Project Status'" [id]="'status'" [formControlName]="'status'" [valueArray]="statusOptions"> </app-select-dropdown>
                        <!-- @if (addForm.get('mngmtTool').invalid) {
                          <span>Choose please</span>
                          }  -->
                    </div>
                  </div>

                
              
                </div>
                <div class="d-grid mt-3">
                  <app-button [title]="'Submit'" (onBtnClick)="onAdded()" [disable]="loader"></app-button>
              
                </div>
              </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>