<div class="auth-main main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card ">
        <div class="card-body">
          @if (userData) {
          <form [formGroup]="updateForm">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0" style="font-weight: 500;">Update Project</h3>
            </div>
            <div class="row">


              <div class="col-md-6">

                <app-input-box [id]="'projectName'" [type]="'text'" [formControlName]="'projectName'"
                  [placeholder]="'Enter Project Name'" [title]="'Project Name'"
                  [value]="userData.project_name"></app-input-box>
                <!-- class="form-control" -->
                @if (updateForm.get('projectName').hasError('required') &&
                updateForm.get('projectName').touched) {
                <span class="text-red-700 text-sm ml-1">Please Enter Project Name.</span>
                }
              </div>
              <div class="col-md-6">
                <app-input-box [id]="'projectTech'" [type]="'text'" [formControlName]="'projectTech'"
                  [placeholder]="'Enter Tech Name'" [title]="'Technology'"
                  [value]="userData.project_tech"></app-input-box>
                @if (updateForm.get('projectTech').hasError('required') &&
                updateForm.get('projectTech').touched) {
                <span class="text-red-700 text-sm ml-2">Please Enter Technology Name.</span>
                }

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-input-box [id]="'projectDesc'" [type]="'text'" [formControlName]="'projectDesc'"
                  [placeholder]="'Enter Description'" [title]="'Description'"
                  [value]="userData.project_description"></app-input-box>
                @if (updateForm.get('projectDesc').hasError('required') &&
                updateForm.get('projectDesc').touched) {
                <span class="text-red-700 text-sm ml-2">Please enter Project Description.</span>
                }
              </div>

              <div class="col-md-6">
                <app-input-box [id]="'projectLead'" [type]="'text'" [formControlName]="'projectLead'"
                  [placeholder]="'Project Lead Name'" [title]="'Project Lead'"
                  [value]="userData.project_lead"></app-input-box>
                @if (updateForm.get('projectLead').hasError('required') &&
                updateForm.get('projectLead').touched) {
                <span class="text-red-700 text-sm ml-2">Please enter Project Lead Name.</span>
                }

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <app-input-box [id]="'projectManager'" [type]="'text'" [formControlName]="'projectManager'"
                  [placeholder]="'Enter Manager Name'" [title]="'Project Manager'"
                  [value]="userData.project_manager"></app-input-box>
                @if (updateForm.get('projectManager').hasError('required') &&
                updateForm.get('projectManager').touched) {
                <span class="text-red-700 text-sm ml-2">Please enter Project Manager Name.</span>
                }
              </div>

              <div class="col-md-6">
                <app-input-box [id]="'projectClient'" [type]="'text'" [formControlName]="'projectClient'"
                  [placeholder]="'Project Client Name'" [title]="'Project Client'"
                  [value]="userData.project_client"></app-input-box>
                @if (updateForm.get('projectClient').hasError('required') &&
                updateForm.get('projectClient').touched) {
                <span class="text-red-700 text-sm ml-2">Please enter Project Client Name.</span>
                }

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <app-select-dropdown [title]="'Management Tool'" [id]="'mngmtTool'" [formControlName]="'mngmtTool'"
                  [valueArray]="mngmtOptions" [selectedValue]="userData.management_tool"> </app-select-dropdown>
                <!-- @if (addForm.get('mngmtTool').invalid) {
                    <span>Choose please</span>
                    }  -->
              </div>

              <div class="col-md-6">
                <app-input-box [id]="'projectUrl'" [type]="'text'" [formControlName]="'projectUrl'"
                  [placeholder]="'Enter Managemnt URL'" [title]="'Managemnt Tool URL'"
                  [value]="userData.management_url"></app-input-box>
                @if (updateForm.get('projectUrl').hasError('required') &&
                updateForm.get('projectUrl').touched) {
                <span class="text-red-700 text-sm ml-2">Please enter Managemnt Tool URL.</span>
                }
              </div>


            </div>

            <div class="row">


              <div class="col-md-6">
                <app-select-dropdown [title]="'Repository Tool'" [id]="'repoTool'" [formControlName]="'repoTool'"
                  [valueArray]="repoOptions" [selectedValue]="userData.repo_tool"></app-select-dropdown>
                <!-- @if (addForm.get('mngmtTool').invalid) {
                      <span>Choose please</span>
                      }  -->
              </div>

              <div class="col-md-6">
                <app-input-box [id]="'repoUrl'" [type]="'text'" [formControlName]="'repoUrl'"
                  [placeholder]="'Enter Repository URL'" [title]="'Repository URL'"
                  [value]="userData.repo_url"></app-input-box>
                @if (updateForm.get('repoUrl').hasError('required') &&
                updateForm.get('repoUrl').touched) {
                <span class="text-red-700 text-sm ml-2">Please enter Repository URL.</span>
                }
              </div>


            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <app-select-dropdown [title]="'Project Status'" [id]="'projectStatus'"
                    [formControlName]="'projectStatus'" [valueArray]="statusOptions"
                    [selectedValue]="userData.project_status"></app-select-dropdown>
                  <!-- @if (addForm.get('mngmtTool').invalid) {
                          <span>Choose please</span>
                          }  -->
                </div>
              </div>
              <div class="col-md-4">

                <app-date-picker [title]="'Start Date'" [id]="'startDate'" [formControlName]="'startDate'"
                  [values]="userData.project_startDate"> </app-date-picker>


              </div>
              <div class="col-md-4">

                <app-date-picker [title]="'Deadline Date'" [id]="'DeadlineDate'" [formControlName]="'DeadlineDate'"
                  [values]="userData.project_deadlineDate"> </app-date-picker>


              </div>


            </div>
            <div class="d-grid mt-3">
              <app-button [title]="'Submit'" (onBtnClick)="onUpdate()" [disable]="loader"></app-button>

            </div>
          </form>
          }

        </div>
      </div>
    </div>
  </div>
</div>