<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css" />
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css" />
<h4 class="mb-3" style="margin-left:5px;">Projects List</h4>
<div class="row" style="display:flex;align-items: center; justify-content: center;">
   <div class="col-md-12 col-xl-8">
       <div class="card tbl-card">
           <div class="ag-theme-alpine" style="height: 800px; width: 100%;">
               <ag-grid-angular
                   style="width: 100%; height: 100%;"
                   class="ag-theme-alpine"
                   [rowData]="user"
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef">

               </ag-grid-angular>
           </div>
       </div>
   </div>
</div>
