input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.requiredField{
    color: red;

}
.main{
  width: 60%;
  margin: auto;
  padding-top: 50px;
}