<!-- <section>
    <div class="example-button-row">
      <button mat-flat-button (click)="onClick()" [disabled]="disable">
        @if(disable){
          <mat-spinner class="spinner"></mat-spinner>
        }@else {
          {{title}}
        }
      </button>
    </div>
  </section>
  <mat-divider></mat-divider> -->


  <section>
    <div class="example-button-row">
      <button mat-flat-button (click)="onClick()" [disabled]="disable">
        @if(disable){
          <!-- <mat-spinner class="spinner"></mat-spinner> -->
          <button mat-raised-button disabled>Disabled</button>
        }@else {
          {{title}}
        }
      </button>
    </div>
</section>
