<!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	
<div class="row">
    <div class="col-md-12 col-xl-8">
        <h5 class="mb-3">Users List</h5>
        <div class="card tbl-card">
            <div class="table-responsive">
                @if (user) {
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                <th>AGE</th>
                                <th>GENDER</th>
                                <th>PHONE</th>
                                <th>E-MAIL</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(list of user; track $index) {
                            <tr>
                                <td>
                                   {{ $index+1 }}
                                </td>
                                <td>{{ list?.user_first_name }}</td>
                                <td>{{ list?.user_last_name }}</td>
                                <td>{{ list?.user_age }}</td>
                                <td>{{ list?.user_gender }}</td>
                                
                                <td>{{ list?.user_phone }}</td>
                                <td>{{ list?.user_email }}</td>
                                <td> 
                                    <button (click)="editFunc(list?.user_id)"><i class="fa-solid fa-pen"></i></button>
                                        <button (click)="delFunc()" style="margin-left:5px;"><i class="fa-solid fa-trash"></i></button> 
                                      
                                   </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
 -->

 <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css" />
 <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css" />
 <h2 class="mb-3">Users List</h2>
<div class="row" style="width:2000px; margin-left:100px;">
    <div class="col-md-12 col-xl-8">
        <div class="card tbl-card">
            <div class="ag-theme-alpine" style="height: 800px; width: 100%;">
                <ag-grid-angular
                    style="width: 100%; height: 100%;"
                    class="ag-theme-alpine"
                    [rowData]="user"
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</div>
