<div class="auth-main">
    <div class="auth-wrapper v3 style='min-height:80vh;'">
      <div class="auth-form" style="min-height: 0vh;">
        <!-- <div class="auth-header">
          <a href="javascript:"><img src="../../../assets/images/logo-dark.svg" alt="logo" /></a>
        </div> -->
        <div class="card my-5" style="margin-top:100px;">
          <div class="card-body">
            <!-- <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Change Password</b></h3>
            </div> -->
            <div style="display:flex; align-items: center;justify-content: space-between; margin-bottom: 30px;">
               <h3 class="mb-0"><b>Change Password</b></h3>
              <a [routerLink]="['/profile']"><button type="button" class="btn btn-primary">Back</button></a>
            </div>
            <form [formGroup]="passwordForm">
              <div class="form-group mb-3">
                <label class="form-label" for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" placeholder="Enter Current Password" name="currentPassword" formControlName="currentPassword"/>
                @if (passwordForm.get('currentPassword')?.hasError('required') && passwordForm.get('currentPassword').touched) {
                    <div style="color:red;margin-left:10px;">Current Password is required.</div>
                  }
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="newPassword" formControlName="newPassword"/>
                 @if (passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword').touched) {
                    <div style="color:red;margin-left:10px;">New Password is required.</div>
                  }
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="confirmPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password" name="confirmPassword" formControlName="confirmPassword"/>
                @if (passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword').touched) {
                    <div style="color:red;margin-left:10px;">Please retype password.</div>
                  }
               @else{  @if (passwordForm.hasError('mismatch') && passwordForm.get('newPassword').touched || passwordForm.get('confirmPassword').touched){
                <div style="color:red;margin-left:10px;"></div>
                }}
              </div>
              <div class="d-grid mt-4">
                <button type="button" (click)="onSubmit()" class="btn btn-primary" [disabled]="passwordForm.invalid">Submit</button>
              </div>
            </form>
          </div>
        </div>

    </div>
  </div>