<!-- <div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      @if(user){
        <div class="auth-header">
          <div class="profile-header d-flex align-items-center mb-4">
            <img src="../../../assets/images/profile/download.jpeg" alt="Profile Image" class="profile-img">
            <div class="profile-info ml-3">
              <h3 class="mb-0"><b>{{user.user_first_name}} {{user.user_last_name}}</b></h3>
              <p class="text-muted" style="margin-left:5px;">{{user.user_email}}</p>
            </div>
          </div>
        </div>

      }
      @if(user) {
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="firstName">First Name</label>
                  <p>{{user.user_first_name || "NULL"}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="lastName">Last Name</label>
                  <p>{{user.user_last_name || "NULL"}}</p>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="emailAddress">Email Address</label>
              <p>{{user.user_email || "NULL"}}</p>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="age">Age</label>
              <p>{{user.user_age || "NULL"}}</p>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="gender">Gender</label>
              <p>{{user.user_gender || "NULL"}}</p>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="phone">Phone</label>
              <p>{{user.user_phone || "NULL"}}</p>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="country">Country</label>
              <p>{{user.user_country || "NULL"}}</p>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="state">State</label>
              <p>{{user.user_state || "NULL"}}</p>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="city">City</label>
              <p>{{user.user_city || "NULL"}}</p>
            </div>
           
            <div style="display:flex; align-items: center;justify-content: space-between;">
              <a [routerLink]="['/dashboard/changepassword']"><button type="button" class="btn btn-primary">Change Password</button></a>
              <a [routerLink]="['/dashboard/updateprofile']"><button type="button" class="btn btn-primary">Update Profile</button></a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div> -->





<!-- its scss is commented:
<div class="auth-main">
  <div class="auth-wrapper">
    <div class="auth-form">
      @if(user) {
        <div class="auth-header">
          <div class="profile-header d-flex align-items-center">
            <img src="../../../assets/images/profile/download.jpeg" alt="Profile Image" class="profile-img">
            <div class="profile-info ml-3">
              <h1>{{user.user_first_name}} {{user.user_last_name}}</h1>
              <p class="email">{{user.user_email}}</p>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <table class="user-info-table">
              <tbody>
                <tr>
                  <th>First Name</th>
                  <td>{{user.user_first_name || "NULL"}}</td>
                </tr>
                <tr>
                  <th>Last Name</th>
                  <td>{{user.user_last_name || "NULL"}}</td>
                </tr>
                <tr>
                  <th>Email Address</th>
                  <td>{{user.user_email || "NULL"}}</td>
                </tr>
                <tr>
                  <th>Age</th>
                  <td>{{user.user_age || "NULL"}}</td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td>{{user.user_gender || "NULL"}}</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td>{{user.user_phone || "NULL"}}</td>
                </tr>
                <tr>
                  <th>Country</th>
                  <td>{{user.user_country || "NULL"}}</td>
                </tr>
                <tr>
                  <th>State</th>
                  <td>{{user.user_state || "NULL"}}</td>
                </tr>
                <tr>
                  <th>City</th>
                  <td>{{user.user_city || "NULL"}}</td>
                </tr>
              </tbody>
            </table>

            <div class="action-buttons">
              <a [routerLink]="['/dashboard/changepassword']" class="btn btn-primary">Change Password</a>
              <a [routerLink]="['/dashboard/updateprofile']" class="btn btn-secondary">Update Profile</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div> -->


   <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        @if(user) {
          <div class="auth-header">
            <div class="profile-header d-flex align-items-center mb-4">
              <img src="../../../assets/images/profile/download.jpeg" alt="Profile Image" class="profile-img">
              <div class="profile-info ml-3">
                <h3 class="mb-0"><b>{{user.user_first_name}} {{user.user_last_name}}</b></h3>
                <p class="text-muted" style="margin-left:5px;">{{user.user_email}}</p>
              </div>
            </div>
            <a [routerLink]="['/dashboard/updateprofile']"><button type="button" class="btn btn-primary">Edit</button></a>
          </div>
          
          <div class="card my-3">
            <div class="card-body">
              <table class="user-info-table">
                <tbody>
                  <tr>
                    <th>First Name</th>
                    <td>{{user.user_first_name || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td>{{user.user_last_name || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>Email Address</th>
                    <td>{{user.user_email || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>Age</th>
                    <td>{{user.user_age || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>Gender</th>
                    <td>{{user.user_gender || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>Phone</th>
                    <td>{{user.user_phone || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>Country</th>
                    <td>{{user.user_country || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>State</th>
                    <td>{{user.user_state || "NULL"}}</td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td>{{user.user_city || "NULL"}}</td>
                  </tr>
                </tbody>
              </table>
  
             
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  